// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.navbar-laravel {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@include media-breakpoint-up(lg) {
	.quote-background {
		opacity: 0.92;
		z-index: -1;
		background: url(/img/forest.jpg) no-repeat center -100px;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.with-separator {
	border-right: 1px solid #eee;
}

.card {
	margin-bottom: 1.5em;
}

.audio-content-analysis {
	background-color: darken($body-bg, 2%);
	border: 1px solid darken($body-bg, 20%);
	padding: 0.5em;
	
	audio {
		width: 100%;
	}
	
	.analysis-table {
		margin-bottom: 5em;
	}
}

.container > h4 {
	margin-bottom: 1.5em;
}
